* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-weight: 100;
}
// invisible scrollbar
body {
  -ms-overflow-style: none; // >>> IE, Edge
  scrollbar-width: none; // >>> Firefox
}
body::-webkit-scrollbar {
  display: none; // >>> Chrome, Safari, Opera
}
main {
  @include flex-column;
  margin: 1rem;
}
