// buttons
button {
  border: 2px solid black;
  padding: 1rem;
  background-color: black;
  color: white;
  &:hover {
    background-color: white;
    color: black;
  }
  @include lg {
  }
  @include md {
  }
  @include sm {
    margin: 1rem;
  }
}

// forms

// inputs
input {
  padding: 1rem;
  border: 2px solid black;
}

// lists
ul {
  list-style: none;
}
