// $nameYourVariable: giveItAValue;
// use variable = $nameOfVariable

// colors
// https://color.adobe.com/search?q=pastelle

// PopOfColor Color-Scheme:
$poc1: #378c84;
$poc2: #f2d0a7;
$poc3: #d9b18f;
$poc4: #736055;
$poc5: #bfb1ae;

// GreenPink Color-Scheme:
$gp1: #593f3b;
$gp2: #c99c99;
$gp3: #f2bbaf;
$gp4: #e8e4c7;
$gp5: #8c876c;

// IceCreme Color-Scheme:
$ic1: #dfdec9;
$ic2: #8c6267;
$ic3: #d9adb2;
$ic4: #7496a6;
$ic5: #69818c;

// SkyGarden Color-Scheme:
$sg1: #1d2614;
$sg2: #354024;
$sg3: #4d5934;
$sg4: #f2f2f2;
$sg5: #0d0d0d;

// BeigeVariation Color-Scheme:
$bg1: #40362e;
$bg2: #f2d5bb;
$bg3: #bfa893;
$bg4: #8c7b6c;
$bg5: #0d0000;
