.main {
  @include flex-column;
  border: 8px solid black;
  width: 45vw;
  h2 {
    margin-top: 1rem;
    font-size: auto;
    width: 40vw;
    // border: 2px solid black;
  }
  form {
    @include flex-row;
    width: 40vw;
    // border: 2px solid black;
    justify-content: space-between;
    margin: 1.5rem;
    input {
      width: 34vw;
    }
  }
}

.weatherInfo {
  //   @include flex-box;
  margin-top: 2rem;
  width: 45vw;
  border: 8px solid black;
  .locCon {
    @include flex-row;
    justify-content: space-between;
  }
  .location {
    border: 6px solid black;
    margin: 1rem;
    padding: 0.8rem;
    .name {
      border: 8px solid black;
      // margin: 0.5rem;
      padding: 1rem;
      font-size: 5rem;
      font-weight: 500;
      letter-spacing: 0.1rem;
    }
    .latLon {
      @include flex-row;
      justify-content: space-between;
      margin-top: 0.4rem;
    }
  }
  .condition {
    border: 6px solid black;
    margin: 1rem;
  }
}
